---
import { Image } from "@astrojs/image/components";
import pancakes from "@assets/images/pancakes.svg";
import popcorn from "@assets/images/popcorn.svg";
import bento from "@assets/images/bento.svg";

const imageSize = 240;
const cardClass =
  "flex flex-col max-w-[250px] justify-start items-center text-center mx-2";
const imgClass = "mt-16 mb-8 lg:mb-[100px]";
---

<div
  class="py-[100px] md:py-[150px] px-4 sm:px-20 md:px-4 flex justify-around flex-wrap"
>
  <div class={cardClass}>
    <Image
      src={pancakes}
      alt="pancakes (all bout dem stacks)"
      width={imageSize}
      height={imageSize}
      class={imgClass}
      format="svg"
    />
    <p class="title mb-5">Developer</p>
    <p>
      I’m a full stack developer with 15+ years of software building experience
    </p>
  </div>
  <div class={cardClass}>
    <Image
      src={popcorn}
      alt="popcorn (i got a story to tell)"
      width={imageSize}
      height={imageSize}
      class={imgClass}
      format="svg"
    />
    <p class="title mb-5">Storyteller</p>
    <p>
      At work, I’m known for my fun and engaging storytelling, where I simplify
      complex technical topics for non-technical audiences
    </p>
  </div>
  <div class={cardClass}>
    <Image
      src={bento}
      alt="bento (i wrote a book set in japan)"
      width={imageSize}
      height={imageSize}
      class={imgClass}
      format="svg"
    />
    <p class="title mb-5">Author</p>
    <p>
      In 2018, I wrote and published my debut fiction novel,
      <span class="italic">
        <a
          href="https://www.goodreads.com/book/show/53350429-aoirei"
          target="_blank"
          class="animated-a"
        >
          Aoirei
        </a>
      </span>
    </p>
  </div>
</div>
